<h1>Registracija</h1>
<form (ngSubmit)="onSubmit()" >
  <div class="top-row">
    <div class="field-wrap">
      <input type="text" required placeholder="Ime" [(ngModel)]="firstName" name="firstName" ngModel>
    </div>
    <div class="field-wrap">
      <input type="text" required placeholder="Prezime" [(ngModel)]="lastName" name="lastName" ngModel>
    </div>
  </div>
  <div class="field-wrap">
    <input type="email" required placeholder="Email" [(ngModel)]="email" name="email" ngModel>
  </div>
  <div class="field-wrap">
    <input type="password" required placeholder="Lozinka" [(ngModel)]="password" name="password" ngModel>
  </div>
  <div class="field-wrap">
    <input type="text" required placeholder="Adresa" [(ngModel)]="address" name="address" ngModel>
  </div>
  <div class="field-wrap">
    <input type="text" required placeholder="JMBG" [(ngModel)]="umcn" name="umcn" ngModel>
  </div>
  <button type="submit" class="button button-block" >Registruj Se</button>
</form>
