.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: white;
  color: #fff;
}

.logo img {
  height: 60px;
}

.logo img:hover {
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin-right: 15px;
  margin-bottom: 0px;
  font-size: 1rem;
  color: black;
}

