<!-- exam-details.component.html -->
<div class="exam-details">
  <h1 class="exam-title">{{ exam.name }}</h1>
  <div class="exam-info">
    <p><strong>Date:</strong> {{ exam.date }}</p>
    <p><strong>Time:</strong> {{ exam.time }}</p>
    <p><strong>Registration start date:</strong> {{ exam.registrationStart }}</p>
    <p><strong>Registration end date:</strong> {{ exam.registrationEnd }}</p>
    <p><strong>Price:</strong> {{ exam.price | currency:'RSD' }}</p>
  </div>
  <button class="mockfon-button" (click)="proceedToPayment()">Proceed to payment</button>
</div>
