/* add-exam.component.css */
.container {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 8px;
}

.field-wrap {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; /* Osigurava da su labele vidljive i jasne */
}

input[type="datetime-local"], input[type="date"], input[type="time"], select {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Osigurava da padding ne menja širinu inputa */
}

input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus {
  outline: none;
  border-color: #4285f4; /* Dodaje plavu boju na fokus za bolju vizuelnost */
}

.button {
  border: 0;
  outline: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  background: #01939c;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover {
  background: #025c61;
}
.button-block {
  display: block;
  width: 100%;
}
input[type="datetime-local"], input[type="date"], input[type="time"], input[type="number"], select {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Osigurava da padding ne menja širinu inputa */
}

input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="number"]:focus, select:focus {
  outline: none;
  border-color: #4285f4; /* Dodaje plavu boju na fokus za bolju vizuelnost */
}
