<div class="form">
  <ul class="tab-group">
    <li class="tab" [class.active]="activeTab === 'signup'" (click)="setActiveTab('signup')">
      <a style="cursor: pointer;">Registruj Se</a>
    </li>
    <li class="tab" [class.active]="activeTab === 'login'" (click)="setActiveTab('login')">
      <a style="cursor: pointer;">Prijavi Se</a>
    </li>
  </ul>
  <div class="form-content">
    <app-signup-form *ngIf="activeTab === 'signup'"></app-signup-form>
    <app-login-form *ngIf="activeTab === 'login'"></app-login-form>
  </div>
</div>
