.exam-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch; /* Poravnava sve kartice na istu visinu */
}
.container-title {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; /* Centriranje teksta */
}

.exam-list > div {
  flex: 1 1 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Dodato za ravnomerno raspoređivanje sadržaja */
  min-height: 250px; /* Minimalna visina za ujednačavanje kartica */
}

.exam-list > div:hover {
  transform: translateY(-7px);
}

.button-container {
  display: flex;
  justify-content: center; /* Centriranje dugmeta u kontejneru */
  margin-top: 20px;
}

.delete-button {
  background-color: #d54b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-button:hover {
  background-color: #b84343; /* Tamnija nijansa za hover efekat */
  transform: translateY(-3px);
}

.delete-button:active {
  background-color: #a33c3c; /* Još tamnija nijansa za active stanje */
  transform: translateY(-1px); /* Blagi povratak zbog klika */
}


.exam-list > div.selected {
  background-color: rgba(66, 133, 244, 0.1); /* Blago zatamnjenje pozadine */
  box-shadow: 0 6px 14px rgba(66, 133, 244, 0.2); /* Ravnomerna senka na selektovanom ispitu */
  transform: translateY(-5px);
}

.no-exams-message {
  display: flex;
  justify-content: center; /* Centriranje horizonalno */
  align-items: center; /* Centriranje vertikalno */
  margin: 50px auto; /* Automatsko centriranje u odnosu na roditeljski element */
  width: 50%; /* Podesite širinu po potrebi, npr. 50% ili konkretna vrednost */
  max-width: 600px; /* Maksimalna širina pravougaonika */
  min-height: 150px; /* Visina pravougaonika */
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  background-color: #fff8e1;
  padding: 20px;
  border: 1px solid #ffd54f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Za dodatno pozicioniranje unutar kontejnera */
}

